.navegationHeader {
  background: #0d0d0d;
  box-shadow: 0 0 1px 0 #444444;
  text-align: center;
}

.navegationNav {
  height: 64px;
  line-height: 64px;
  margin: 0 auto;
  max-width: 1300px;
}

.navegationList {
  display: inline-block;
  height: 64px;
}
